<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script src="{% static 'js/echarts.min.js' %}"></script>
</head>
<body>
<div class="layui-container">
  <div class="layui-row">
    <div class="layui-col-md9">
      <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="{% url 'user:index' %}">库存统计</a></li>
          <li class="layui-nav-item"><a href="{% url 'goods:addgoods' %}">添加商品</a></li>
          <li class="layui-nav-item"><a href="{% url 'goods:goodstype' %}">编辑商品类型</a></li>
          <li class="layui-nav-item layui-this"><a href="{% url 'goods:tj' %}">图表统计</a></li>
        </ul>
    </div>
    <div class="layui-col-md3">
      <ul class="layui-nav" lay-filter="">
          {% if user.username %}
          <li class="layui-nav-item">您好</li>
          <li class="layui-nav-item"><a href="">{{ user.username }}</a></li>
          <li class="layui-nav-item"><a href="{% url 'user:logout' %}">退出</a></li>
          {% endif %}
        </ul>
    </div>
  </div>

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="count" style="width: 600px;height:400px;"></div>

</div>



</body>
<script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use('form', function(){
  var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

  form.render();
});
</script>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('count'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '商品数量统计',

            },

            tooltip: {
                trigger:'axis',
                axisPointer:{

                    type:'shadow'
                }
            },
            legend: {
                data:['数量']
            },
            xAxis: {
                data:{{ good_type_name|safe }}

            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                barWidth:'50%',
                data: {{ count_list }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '商品种类统计',

            },

            tooltip: {
                trigger:'axis',
                axisPointer:{

                    type:'shadow'
                }
            },
            legend: {
                data:['种类']
            },
            xAxis: {
                data:{{ good_type_name|safe }}

            },
            yAxis: {},
            series: [{
                name: '种类',
                type: 'bar',
                barWidth:'50%',
                data: {{ good_type_count }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

</html>